link(href="/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/bootstrap/FontAwesome/css/font-awesome.min.css",rel="stylesheet")
link(href="/css/style.css",rel="stylesheet")
script(src="/jquery/dist/jquery.min.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")
script(src="/js/share.js")
script(src="/js/main.js")
meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")