extends ../layout
block content
    div.container.index_containert.w100.h100
        div.row
            div.col-lg-12.text-center.index_line 你好，朋友！
            div.col-lg-12.text-center.index_text 了解我，从这里开始，如果喜欢我，欢迎把我的网站分享给您的朋友
            ul.index_share.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-md-offset-3.col-xs-10.col-xs-offset-1.text-center
                li.toweibo
                    img(src="images/shareto_weibo.jpg",alt="")
                li.totencent
                    img(src="images/shareto_tencent.jpg",alt="")
                li.toqq
                    img(src="images/shareto_qq.jpg",alt="")
                li.todouban
                    img(src="images/shareto_douban.jpg",alt="")
                li.torenren
                    img(src="images/shareto_renren.jpg",alt="")
            div.index_contact.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3.col-xs-12.text-center
                span 关于我<br>
                span.colorgrey 一个爱看书、看摄影、爱唱歌的文艺女青年。
                    <br> 既不是女汉子，也不是软妹子，
                    <br>在自己的世界里温暖生活。
                    <br>此生最大愿望：家人健康，工作开心，家庭幸福。
                    <br>而世间最难求的，恰恰是一个安稳人生。
                    <br>不用太漂亮，不用太有钱，也不需要万人倾心。
                    <br>愿得一人心，白首不相离。
                span
                span 邮箱：
                    a(href="mailto:suisicao@163.com") suisicao@163.com 
                    &nbsp;&nbsp; QQ：361754640&nbsp;&nbsp; 地址：上海市浦东新区

