extends ../layout
block content
    div.container.w100.h100
        div.row.note_row
           div.col-lg-10.col-lg-offset-1
            div.mpic_zhezhao
            div.mpic_container.clear
                div.mpic_c
                    div.prev.none
                        i.icon-arrow-left
                    div.imgc
                        img(src="/mypic/1.jpg")
                    div.next
                        i.icon-arrow-right
