extends ../layout
block content
    div.container.w100.h100
        div.row
          div.work_line.col-lg-10.col-lg-offset-1
            i.icon-h-sign.pull-left.icon
            div.title html5+css3
            div.line
          div.work_content.col-lg-10.col-lg-offset-1
            div.col-md-4.content
              div
                img.pic(src="images/work_f1.jpg")
              p.title 欧莱雅ma8男士
              p.intro 广告类作品。主要采用html5+css3，大量的animate动画效果，及宽高自适应，利用cavas做出刮刮卡效果，项目分为一期和二期，二期增加嵌入flash和腾调用讯视频接口调用。
              a.addr.ml10(href="http://ma8.qq.com/phase2",target="_blank")  访问二期地址>>
              a.addr(href="http://ma8.qq.com/",target="_blank")  访问一期地址>>

            div.col-md-4.content
              div
                img.pic(src="images/work_f2.jpg")
              p.title 强生志愿者推广（手机端）
              p.intro app推广类作品。主要采用html5+css3，大量的animate动画效果，及移动端字体等自适应，swiper插件控制屏幕滑动。利用filereader上传预览图片，利用canvas进行图片的旋转缩放等处理。
              a.addr(href="http://www.jjmc.cn:8686/volunteer/",target="_blank") 访问上线地址>>
            div.col-md-4.content
              div
                img.pic(src="images/work_f3.jpg")
              p.title 惠氏维生素片
              p.intro 产品推广类作品。这个结构比较简单，主要是导航的切换和图片轮播效果，另外游戏也用html5和javascript写成。
              a.addr(href="http://www.wyethbb.com.cn/materna/index.html",target="_blank") 访问上线地址>>
          div.work_line.col-lg-10.col-lg-offset-1
            i.icon-desktop.pull-left.icon
            div.title pc端整站搭建
            div.line
          div.work_content.col-lg-10.col-lg-offset-1
            div.col-md-4.content
              div
                img.pic(src="images/work_s1.jpg")
              p.title 慕尼黑上海光博会
              p.intro 后台为.net，运用DNN内容管理系统，可让客户直接在后台进行一些数据的录入，增加导航，设置链接等。页面公用的部分通过标签嵌入页面，便于管理。
              a.addr(href="http://www.photonicschina.cn/",target="_blank") 访问上线地址>>
            div.col-md-4.content
              div
                img.pic(src="images/work_s2.jpg")
              p.title 易福利企业福利发放平台
              p.intro 企业福利发放平台，按照多种方式为员工分配福利。运用angular框架，主要运用了路由功能，及页面重定向等。与后台（java）交互完成整站建设。
              a.addr(href="http://fuli.kltong.com",target="_blank") 访问上线地址>>
            div.col-md-4.content
              div
                img.pic(src="images/work_s3.jpg")
              p.title 开联宝个人消费平台）
              p.intro 与易福利相对应，企业发放福利后到此平台消费。同样运用了angular的路由功能，与后台（java）交互完成整站建设。
              a.addr(href="https://klb.kltong.com",target="_blank") 访问上线地址>>
          div.work_line.col-lg-10.col-lg-offset-1
            i.icon-tablet.pull-left.icon
            div.title 公众号开发
            div.line
          div.work_content.col-lg-10.col-lg-offset-1.work_content1
            div.col-md-6.content1.clear
              div.clear
                div.phoneimg
                  img.pic(src="images/work_g1.jpg") 
                div.phonecontent
                  p.title 开联宝微信公众号
                  p.intro 
                    i.icon-quote-left.pull-left.icon
                    与开联宝PC端相对应，增加开联宝微信端，可在微信端进行注册登录，绑定预付卡，购买卡券进行手机充值等业务。未来会做成web app。关注微信公众号“开联通”即可查看。
                  img.erweima(src="images/announce-erweima.jpg")
            div.col-md-6.content1.clear
              div.clear
                div.phoneimg
                  img.pic(src="images/work_g2.jpg") 
                div.phonecontent
                  p.title 单商户微信公众号
                  p.intro 
                    i.icon-quote-left.pull-left.icon
                    与单商户PC端对应的微信公众号开发。主要功能是进行卡券的购买及消费，以及卡券的赠送，类似购物商城。关注微信公众号“smartcard”，回复1600即可查看。

          div.col-lg-10.col-lg-offset-1.work_foot 本站所采用技术：html5+css3+bootstrap+jade+node.js
